<div class="auth-main">
  <div class="auth-wrapper v2">
    <div class="auth-form">
      <a [routerLink]="['/']" class="logo">
        <app-logo />
      </a>
      <div class="card auth-card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit($event)">
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header text-center">
                  <h2 class="text-secondary"><b>Forgot password?</b></h2>
                  <p class="f-16 mt-2">Enter your email address below and we'll send you password reset OTP.</p>
                </div>
              </div>
            </div>
            <div class="form-floating mb-2">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                [class.is-invalid]="submitted() && forgotForm.email().invalid()"
                placeholder="Email Address"
                [formField]="forgotForm.email"
              />
              <label for="floatingInput">Email address / Username</label>
              @if (submitted() && forgotForm.email().invalid()) {
                <div class="invalid-feedback">
                  @for (error of forgotForm.email().errors(); track error.kind) {
                    <div>{{ error.message }}</div>
                  }
                </div>
              }
            </div>
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-secondary">Send Mail</button>
            </div>
            <hr />
            <h5 class="d-flex justify-content-center">
              <a [routerLink]="['/auth/auth2/login']">
                <b>Already have an account?</b>
              </a>
            </h5>
          </form>
        </div>
      </div>
    </div>
    <div class="auth-sideContent">
      <div class="p-3 px-lg-5 text-center">
        <ngb-carousel class="carousel-dark" [showNavigationArrows]="false" [showNavigationIndicators]="true">
          <ng-template ngbSlide>
            <h1><b>Power of React with Material UI</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
          <ng-template ngbSlide>
            <h1><b>Power of React with Material UI</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
          <ng-template ngbSlide>
            <h1><b>Power of React with Material UI</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
        </ngb-carousel>
        <img src="assets/images/authentication/forgot-pass2.svg" alt="images" class="img-fluid mt-5 w-75" />
      </div>
    </div>
  </div>
</div>
