<div class="card-body">
  <div class="row">
    <div class="col-md-8">
      <h4 class="mb-3">Delivery Options</h4>
      <div class="row mb-2">
        @for (delivery of Delivery; track delivery; let i = $index) {
          <div class="col-md-6">
            <div class="mb-4 border p-3 rounded">
              <div class="form-check">
                <input type="radio" name="radio1" class="form-check-input input-primary" id="customCheckdef{{ i }}" checked />
                <label class="form-check-label d-block" for="customCheckdef{{ i }}">
                  <span>
                    <span class="h5 mb-0 d-block">{{ delivery.type }}</span>
                    <span class="f-12 text-muted">{{ delivery.date }}</span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        }
      </div>
      <h4 class="mb-3">Payment Options</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-4 border p-3 rounded">
            <div class="form-check">
              <input type="radio" name="radio11" class="form-check-input input-primary" id="CustomCheckdef11" checked />
              <label class="form-check-label d-block" for="CustomCheckdef11">
                <span class="d-flex align-items-center">
                  <span>
                    <span class="h5 mb-0 d-block">Pay with PayPal</span>
                    <span class="f-12 text-muted">You will be redirected to PayPal website to complete your purchase securely.</span>
                  </span>
                  <img src="assets/images/application/paypal.png" alt="img" class="img-fluid ms-1" />
                </span>
              </label>
            </div>
          </div>
          @for (payment of payments; track payment; let i = $index) {
            <div class="border p-3 mb-3 rounded">
              <div class="form-check">
                <input type="radio" name="radio11" class="form-check-input input-primary" id="customCheckdef12{{ i }}" />
                <label class="form-check-label d-block" for="customCheckdef12{{ i }}">
                  <span class="d-flex align-items-center">
                    <span>
                      <span class="h5 mb-0 d-block">{{ payment.mode }}</span>
                      <span class="f-12 text-muted">{{ payment.text }}</span>
                    </span>
                    <img src="{{ payment.src }}" alt="img" class="img-fluid ms-1" />
                  </span>
                </label>
              </div>
            </div>
          }
        </div>
        <div class="col-md-6">
          <div class="mb-4 border rounded">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                <h5 class="mb-0">Add Your Card</h5>
                <button class="btn btn-light-secondary btn-sm d-flex align-items-center" (click)="orderComplete(content)">
                  <i class="ti ti-plus align-text-bottom me-1"></i>
                  Add Card
                </button>
                <ng-template #content let-modal>
                  <div class="modal-content">
                    <div class="modal-header align-items-center justify-content-between">
                      <h4 class="calendar-modal-title f-w-600 text-truncate mb-0">Add Payment Card</h4>
                      <a href="javascript:void(0)" class="avatar avatar-s btn-link-danger" (click)="modal.close('Close click')">
                        <i class="ti ti-x f-20"></i>
                      </a>
                    </div>
                    <div class="modal-body">
                      <div class="row align-items-end">
                        <div class="col-sm-12">
                          <div class="form-group">
                            @for (task of radios; track task; let i = $index) {
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioAddress" id="radioaddress{{ i }}" checked />
                                <label class="form-check-label" for="radioaddress{{ i }}">{{ task.type }}</label>
                              </div>
                            }
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label class="form-label">Bank</label>
                            <input type="text" class="form-control" placeholder="Enter Bank" />
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label class="form-label">Card Number</label>
                            <input type="text" class="form-control" placeholder="Enter Card Number" />
                          </div>
                        </div>
                        @for (card of cards; track card) {
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="form-label">{{ card.title }}</label>
                              <input type="text" class="form-control" placeholder="{{ card.details }}" />
                            </div>
                          </div>
                        }
                        <div class="col-sm-12">
                          @for (list of OptionsList; track list; let i = $index) {
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioaddress" id="radioaddress11{{ i }}" checked />
                              <label class="form-check-label" for="radioaddress11{{ i }}">{{ list.options }}</label>
                            </div>
                          }
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-link-danger" (click)="modal.close('Close click')">Cancel</button>
                      <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Submit</button>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="card-body">
              @for (add of cardAdd; track add) {
                <div class="mb-4 {{ add.color }} payCard rounded">
                  <div class="card-body p-3">
                    <div class="d-flex align-items-start justify-content-between">
                      <i class="ti ti-check f-24 text-white card-active-icon"></i>
                      <img src="{{ add.src }}" alt="images" class="img-fluid" />
                    </div>
                    <div class="row g-2 align-items-center justify-content-between my-2">
                      @for (task of cardDetails; track task) {
                        <div class="col">
                          <h3 class="mb-0 text-white">{{ task.number }}</h3>
                        </div>
                      }
                    </div>
                    <div class="row opacity-50 align-items-center">
                      <div class="col-auto">
                        <span class="text-sm text-white">Expire Date</span>
                        <p class="mb-0 text-white">05/24</p>
                      </div>
                      <div class="col-auto">
                        <span class="text-sm text-white">CVV</span>
                        <p class="mb-0 text-white">085</p>
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-3">
        <button class="btn btn-link-primary">
          <i class="ti ti-arrow-narrow-left align-text-bottom me-2"></i>
          Back
        </button>
        <button class="btn btn-primary" id="btn-comp-order" (click)="customs()">Complete Order</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-4 border rounded">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-s bg-light-secondary text-secondary">
              <i class="ti ti-shopping-cart f-20"></i>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Cart Items</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center">
            <img src="assets/images/application/prod-img-1.jpg" alt="image" class="wid-50 rounded" />
            <div class="flex-grow-1 ms-3">
              <h5 class="mb-1">Francis West</h5>
              <p class="text-sm text-muted mb-0">Size: 8 | Color: Black</p>
            </div>
            <h5 class="mb-1">$12.99</h5>
          </div>
        </div>
      </div>
      <div class="mb-4 border rounded">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-s bg-light-primary text-primary">
              <i class="ti ti-clipboard-list f-20"></i>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Order Summary</h4>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="float-end">
              <h5 class="mb-0">$300.00</h5>
            </div>
            <span class="text-muted">Sub Total</span>
          </li>
          <li class="list-group-item">
            <div class="float-end">
              <h5 class="mb-0">-</h5>
            </div>
            <span class="text-muted">Coupon Discount</span>
          </li>
          <li class="list-group-item">
            <div class="float-end">
              <h5 class="mb-0">-</h5>
            </div>
            <span class="text-muted">Shipping Charges</span>
          </li>
        </ul>
        <div class="card-footer">
          <div class="float-end">
            <h5 class="mb-0">$300.00</h5>
          </div>
          <h5 class="mb-0 d-inline-block">Total</h5>
        </div>
      </div>
      <div class="mb-4 border rounded">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-s bg-light-secondary text-secondary">
              <i class="ti ti-truck f-20"></i>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Shipping Address</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="mb-3">
            <span class="float-end"><span class="badge bg-light-primary rounded-pill f-12">Default</span></span>
            Billing Address
            <small class="text-muted">(Home)</small>
          </h5>
          <p class="mb-0">17 Sujun Pass, 1682 Kudbe Key, Ijuorouri, Colorado, Antigua & Barbuda - EC1 8GV</p>
          <p class="text-secondary mb-0">(366) 715-6265</p>
        </div>
      </div>
    </div>
  </div>
</div>
