<div class="auth-main">
  <div class="auth-wrapper v1">
    <div class="auth-form">
      <div class="card auth-card mt-5">
        <div class="card-body">
          <div class="row">
            <div class="d-flex justify-content-between">
              <div>
                <h2 class="text-secondary"><b>Verification Code</b></h2>
                <h4 class="text-muted"><b>We send you on mail.</b></h4>
              </div>
              <a [routerLink]="['/']">
                <app-logo />
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <p class="f-14 mt-2">We’ve send you code on john.****&#64;company.com</p>
          </div>
          <div class="d-flex justify-content-between">
            @for (task of tasks; track task; let i = $index) {
              <div class="d-flex align-items-center">
                <input
                  [attr.aria-label]="task.mas"
                  type="text"
                  inputmode="numeric"
                  pattern="[0-9]*"
                  title="Enter One Time Password"
                  maxlength="1"
                  class="form-control text-center w-100"
                  style="width: 60px; margin: 8px; padding: 10px; border: 1px solid rgb(224, 224, 224); border-radius: 8px"
                />
              </div>
            }
          </div>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-primary p-2">Continue</button>
          </div>
          <div class="d-flex mt-1 justify-content-between mt-4">
            <p class="text-muted">Did not receive the email? Check your spam filter, or</p>
            <p class="text-primary">Resend code</p>
          </div>
          <hr />
          <h5 class="d-flex justify-content-end">Did not receive the email? Check your spam filter, or</h5>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-outline-secondary bg-light text-secondary p-2">Resend Code</button>
          </div>
        </div>
      </div>
    </div>
    <div class="auth-sideContent">
      <div class="p-3 px-lg-5 text-center">
        <div class="animation-content">
          <img src="assets/images/authentication/signup-blue-card.svg" alt="images" class="img-fluid signup-blue-card mt-3" />
          <img src="assets/images/authentication/signup-white-card.svg" alt="images" class="img-fluid signup-white-card mt-3" />
        </div>
        <ngb-carousel class="carousel-dark" [showNavigationArrows]="false" [showNavigationIndicators]="true">
          <ng-template ngbSlide>
            <h1><b>Powerful and easy to use multi-purpose theme.</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
          <ng-template ngbSlide>
            <h1><b>Powerful and easy to use multi-purpose theme.</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
          <ng-template ngbSlide>
            <h1><b>Components Based Design System</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
