<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="File Upload">
      <form [formGroup]="demoForm">
        <file-upload formControlName="files" />
      </form>
      <ng-template #footerTemplate>
        <button class="btn btn-primary me-2 mb-2" (click)="toggleStatus()">Disable</button>
        <button class="btn btn-primary me-2 mb-2" (click)="toggleMultiple()">
          {{ multiple === false ? 'Enable' : 'Disable' }} Multiple
        </button>
        <button class="btn btn-primary me-2 mb-2" (click)="toggleAnimation()">
          {{ animation === false ? 'Enable' : 'Disable' }} Animation
        </button>
        <button class="btn btn-primary mb-2" (click)="clear()">Clear</button>
      </ng-template>
    </app-card>
    <app-card cardTitle="Custom Template">
      <file-upload [control]="control">
        <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
          @if (control.size === 0) {
            <div class="d-flex align-items-center gap-3 custom-upload-container">
              <div class="icon">
                <i class="ti ti-upload f-w-800 f-20"></i>
              </div>
              <div class="upload-text">
                @if (isFileDragDropAvailable) {
                  <ng-container>
                    <b>Drag and drop</b>
                    Template
                    <br />
                    or click here
                  </ng-container>
                } @else {
                  <ng-template>
                    <b>Click here</b>
                    to
                    <br />
                    choose a Template
                  </ng-template>
                }
              </div>
            </div>
          }
        </ng-template>

        <ng-template let-i="index" let-file="file" let-control="control" #item>
          <div class="overlay">
            <span class="delete-button" (click)="control.removeFile(file)">
              <i class="ti ti-trash txet-danger"></i>
            </span>
            @if (control.valid) {
              <img [src]="uploadedFile | async" />
            }
          </div>
        </ng-template>
      </file-upload>
    </app-card>
  </div>
</div>
