<div class="row">
  <div class="col-lg-9">
    <app-invoice-chart />
  </div>
  <div class="col-lg-3">
    <app-card [showHeader]="false">
      <div class="row g-3 text-center">
        @for (item of invoiceCard; track item) {
          <div class="col-6">
            <app-card [showHeader]="false" cardClass="mb-0 border" blockClass="py-4 px-2" [padding]="0">
              <div class="avatar {{ item.background }} rounded-circle">
                <i class="text-white ti ti-{{ item.icon }} f-24"></i>
              </div>
              <h6 class="mb-0 mt-3 text-muted">{{ item.title }}</h6>
            </app-card>
          </div>
        }
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Recent Invoice" [padding]="0">
      <ng-template #headerOptionsTemplate>
        <div ngbDropdown [placement]="dropdownPlacement()">
          <a
            class="avatar avatar-s btn-link-secondary arrow-none"
            href="javascript:void(0)"
            [placement]="dropdownPlacement"
            ngbDropdownToggle
          >
            <i class="f-18 ti ti-dots-vertical"></i>
          </a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Today</button>
            <button ngbDropdownItem>Weekly</button>
            <button ngbDropdownItem>Monthly</button>
          </div>
        </div>
      </ng-template>
      <ul class="list-group list-group-flush border-top-0">
        @for (list of UserList; track list) {
          <li class="list-group-item border-0">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img src="{{ list.avatar }}" alt="user-image" class="user-avatar rounded-circle wid-40 hie-40" />
              </div>
              <div class="flex-grow-1 mx-2">
                <h5 class="mb-1">
                  {{ list.name }}
                  <span class="text-muted">- #790841</span>
                </h5>
                <p class="mb-0 text-primary">{{ list.value }}</p>
              </div>
              <div class="flex-shrink-0">
                <p class="text-muted mb-0">{{ list.time }}</p>
              </div>
            </div>
          </li>
        }
        <li class="list-group-item border-0">
          <div class="d-grid">
            <button class="btn btn-outline-secondary">View All</button>
          </div>
        </li>
      </ul>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-total-expenses-chart />
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Notification" [padding]="0">
      <ng-template #headerOptionsTemplate>
        <div ngbDropdown [placement]="dropdownPlacement()">
          <a
            class="avatar avatar-s btn-link-secondary arrow-none"
            href="javascript:void(0)"
            [placement]="dropdownPlacement"
            ngbDropdownToggle
          >
            <i class="f-18 ti ti-dots-vertical"></i>
          </a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Today</button>
            <button ngbDropdownItem>Weekly</button>
            <button ngbDropdownItem>Monthly</button>
          </div>
        </div>
      </ng-template>
      <ul class="list-group list-group-flush border-top-0">
        @for (item of notificationList; track $index) {
          <li class="list-group-item border-0">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <div class="avatar avatar-s {{ item.background }} rounded-circle">
                  @if (item.text === true) {
                    <div class="f-16">C</div>
                  } @else {
                    <i class="f-16 ti ti-{{ item.icon }}"></i>
                  }
                </div>
              </div>
              <div class="flex-grow-1 ms-3 me-2">
                <h5 class="mb-1">
                  {{ item.title }}
                  @if (item.link === true) {
                    <a href="javascript:void(0)" class="link-primary">{{ item.linkValue }}</a>
                    .
                  }
                </h5>
                <p class="mb-0 text-muted text-sm">{{ item.date }}</p>
              </div>
              <div class="flex-shrink-0">
                <a href="javascript:void(0)" class="avatar avatar-s btn-link-secondary"><i class="ti ti-link f-18"></i></a>
              </div>
            </div>
          </li>
        }
        <li class="list-group-item border-0">
          <div class="d-grid">
            <button class="btn btn-outline-secondary">View All</button>
          </div>
        </li>
      </ul>
    </app-card>
  </div>
</div>
