<div class="row">
  <!-- [ Breadcrumbs & Pagination ] start -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>Breadcrumb</h5>
      </div>
      <div class="card-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>Breadcrumb Icon</h5>
      </div>
      <div class="card-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page" title="home">
              <i class="ti ti-home-2"></i>
            </li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)" title="home"><i class="ti ti-home-2 fs-6"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)" title="home"><i class="ti ti-home-2"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>Breadcrumb Dividers [ character ]</h5>
      </div>
      <div class="card-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page" title="home">
              <i class="ti ti-home-2"></i>
            </li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)" title="home"><i class="ti ti-home-2"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)" title="home"><i class="ti ti-home-2"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>Breadcrumb Dividers [ embedded SVG icon ]</h5>
      </div>
      <div class="card-body">
        <nav
          aria-label="breadcrumb"
          style="
            --bs-breadcrumb-divider: url(
              &#34;data:image/svg + xml,
              %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
            );
          "
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page" title="home">
              <i class="ti ti-home-2"></i>
            </li>
          </ol>
        </nav>
        <nav
          aria-label="breadcrumb"
          style="
            --bs-breadcrumb-divider: url(
              &#34;data:image/svg + xml,
              %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
            );
          "
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)" title="home"><i class="ti ti-home-2"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
        <nav
          aria-label="breadcrumb"
          style="
            --bs-breadcrumb-divider: url(
              &#34;data:image/svg + xml,
              %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
            );
          "
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)" title="home"><i class="ti ti-home-2"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Pagination</h5>
      </div>
      <div class="card-body">
        <div class="overflow-auto">
          <ngb-pagination [collectionSize]="70" page="4" aria-label="Default pagination">
            <ng-template ngbPaginationPrevious>Prev</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
          </ngb-pagination>
        </div>
        <h5 class="mt-5">Working with Icons</h5>
        <hr />
        <div class="overflow-auto">
          <ngb-pagination [collectionSize]="70" page="4" [boundaryLinks]="true" />
        </div>
        <h5 class="mt-5">Disabled and Active States</h5>
        <hr />
        <div class="overflow-auto">
          <ngb-pagination [collectionSize]="70" page="4" [disabled]="isDisabled" />
        </div>
        <br />
        <button class="btn btn-sm btn-outline-primary" (click)="toggleDisabled()">Toggle Disabled</button>
        <h5 class="mt-5">Sizing</h5>
        <hr />
        <div class="overflow-auto">
          <ngb-pagination [collectionSize]="50" page="3" size="lg" />
          <br />
          <ngb-pagination [collectionSize]="50" page="3" />
          <br />
          <ngb-pagination [collectionSize]="50" page="3" size="sm" />
        </div>
        <h5 class="mt-5">Alignment</h5>
        <hr />
        <div class="overflow-auto">
          <ngb-pagination class="d-flex justify-content-start" [collectionSize]="50" page="3" />
          <ngb-pagination class="d-flex justify-content-center mt-3" [collectionSize]="50" page="3" />
          <ngb-pagination class="d-flex justify-content-end mt-3" [collectionSize]="50" page="3" />
        </div>
      </div>
    </div>
  </div>
  <!-- [ Breadcrumbs & Pagination ] end -->
</div>
