<div class="row">
  <!-- [ form-element ] start -->
  <div class="col-sm-12">
    <app-card cardTitle="Custom radio">
      <form>
        <div class="form-group row">
          <label class="col-sm-3 text-sm-end col-form-label">Radio</label>
          <div class="col-sm-9">
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="group4" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">Default radio</label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="group4" value="" id="flexCheckChecked" checked />
              <label class="form-check-label" for="flexCheckChecked">Checked radio</label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="group41" value="" id="flexCheckDisabled" disabled />
              <label class="form-check-label" for="flexCheckDisabled">Disabled radio</label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="group41" id="flexCheckCheckedDisabled" checked disabled />
              <label class="form-check-label" for="flexCheckCheckedDisabled">Disabled checked radio</label>
            </div>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-sm-3 text-sm-end col-form-label pt-0">Inline</label>
          <div class="col-sm-9">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group5" value="" id="customCheckinlh1" />
              <label class="form-check-label" for="customCheckinlh1">1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group5" value="" id="customCheckinlh2" />
              <label class="form-check-label" for="customCheckinlh2">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group5" value="" id="customCheckinlh3" />
              <label class="form-check-label" for="customCheckinlh3">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group5" value="" id="customCheckinlh4" disabled />
              <label class="form-check-label" for="customCheckinlh4">4 (disabled)</label>
            </div>
            <small class="form-text d-block text-muted">
              Add
              <code>.form-check-inline</code>
              to any
              <code>.custom-control</code>
            </small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-sm-3 text-sm-end col-form-label pt-0">Inline Radio Checked State</label>
          <div class="col-sm-9">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group6" value="" id="customCheckinlhstate1" />
              <label class="form-check-label" for="customCheckinlhstate1">1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group6" value="" id="customCheckinlhstate2" />
              <label class="form-check-label" for="customCheckinlhstate2">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group6" value="" id="customCheckinlhstate3" checked />
              <label class="form-check-label" for="customCheckinlhstate3">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group6" value="" id="customCheckinlhstate4" disabled />
              <label class="form-check-label" for="customCheckinlhstate4">4 (disabled)</label>
            </div>
            <small class="form-text d-block text-muted">
              Add
              <code>checked</code>
              attribute to any
              <code>.form-check-input</code>
            </small>
          </div>
        </div>
      </form>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Color Options">
      <form>
        <div class="row g-4">
          @for (item of colorTypes; track item) {
            <div class="col-sm-6">
              <div class="form-group">
                @for (color of item?.colors; track color) {
                  <div class="form-check mb-2">
                    <input type="radio" class="form-check-input {{ color.type }}" [id]="color.id" [checked]="color.checked" />
                    <label [for]="color.id" class="form-check-label">{{ color.label }}</label>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </form>
    </app-card>
  </div>
</div>
