<div class="auth-main">
  <div class="auth-wrapper v1">
    <div class="auth-form">
      <div class="card auth-card mt-5">
        <div class="card-body">
          <form (ngSubmit)="onSubmit($event)">
            <div class="row">
              <div class="d-flex justify-content-between">
                <div>
                  <h2 class="text-secondary"><b>Forgot password?</b></h2>
                  <h4 class="text-muted"><b>Enter credentials to continue</b></h4>
                </div>
                <a [routerLink]="['/']">
                  <app-logo />
                </a>
              </div>
            </div>
            <p class="f-16 mt-2">Enter your email address below and we'll send you password reset OTP.</p>
            <div class="form-floating mb-2">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                [class.is-invalid]="submitted() && forgotForm.email().invalid()"
                placeholder="Email Address"
                [formField]="forgotForm.email"
              />
              <label for="floatingInput">Email address / Username</label>
              @if (submitted() && forgotForm.email().invalid()) {
                <div class="invalid-feedback">
                  @for (error of forgotForm.email().errors(); track error.kind) {
                    <div>{{ error.message }}</div>
                  }
                </div>
              }
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-secondary p-2">Send Mail</button>
            </div>
            <hr />
            <h5 class="d-flex justify-content-end">
              <a [routerLink]="[this.authenticationService.currentUserValue ? '/auth/auth1/login' : '/login']">Already have an account?</a>
            </h5>
          </form>
        </div>
      </div>
    </div>
    <div class="auth-sideContent">
      <div class="p-3 px-lg-5 text-center">
        <div class="animation-content">
          <img src="assets/images/authentication/muti-card.svg" alt="images" class="img-fluid multi-card w-100 mt-3" />
        </div>
        <ngb-carousel class="carousel-dark" [showNavigationArrows]="false" [showNavigationIndicators]="true">
          <ng-template ngbSlide>
            <h1><b>Powerful and easy to use multipurpose theme.</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
          <ng-template ngbSlide>
            <h1><b>Power of React with Material UI</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
          <ng-template ngbSlide>
            <h1><b>Power of React with Material UI</b></h1>
            <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
