// This file is intentionally left empty to allow customers to add custom CSS if needed.
form i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px -12px 0px 0px;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  position: absolute;
  top: 8px;
  right: 25px;

  ::ng-deep.berry-rtl & {
    right: auto !important;
    left: 10px;
  }
}
