.togglePassword {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px -12px 0px 0px;
  cursor: pointer;
  padding: 12px;
  font-size: 20px;
  position: absolute;
  top: 27px;
  right: 18px;

  ::ng-deep.berry-rtl & {
    right: auto !important;
    left: 4px;
    top: 29px;
  }
}
