@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.mat-mdc-icon-button.mat-mdc-button-base {
  width: 35px !important;
  height: 35px !important;
  padding: 3px;
}

.example-tree-node {
  display: flex;
  align-items: center;
  padding: 0;
}
